body{
    background-image: url(https://wallpapercave.com/dwp1x/wp6350571.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
p{
    font-size: 25px;
}